# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environnement
.env
.env.production
.env.local
.vercel/

# Django
db.sqlite3
media/
staticfiles/
*.sqlite3

# Divers
.DS_Store
Thumbs.db
*.log

.vercel
.env*
